header{
    text-align: center;
    margin: 30px;  
    color: #ffffff;
  }

  
  h1 {
    text-transform: uppercase;
    font-size: 90px;
    letter-spacing: 20px;
    
  }

  body{
    background-image: url(../../src/assets/backgroundone.jpg);
    background-size: cover;
  }