<div>

    <h1>This is an application where users can create quotes and even vote on them! &nbsp; It even shows how long ago the quotes were created.</h1>

    <hr>
    <ul>
       <br>

       <div class="row">
        <button (click)="onNew()" class="btn btn-info form-btn" id="form-btn">Post a new Quote</button>

        <br>

        <form (ngSubmit)="onSave()"  *ngIf="displayNew" id="quote-form">

            <span (click)="onCancel()" class="del"><i class="fa fa-times-circle"></i></span>
            <div class="form-post">
                <label for="text-input">Quote</label>
                <textarea class="form-control" [(ngModel)]="quoteModel.quote" placeholder="Type in a new quote here" name="text" id="text-input" rows="10" required></textarea>
            </div>

            <div class="form-post">
                <label for="author-input">Author</label>
                <input class="form-control" type="text" [(ngModel)]="quoteModel.author" name="author" id="author-input" placeholder="Author of the quote" required>
            </div>
                
            <div class="form-post" >
                <label for="poster-input">Poster</label>
                <input id="poster-input" class="form-control" type="text" [(ngModel)]="quoteModel.quoteposter" name="poster" placeholder="Your name" required>
            </div>

            <button type="submit" class="btn btn-primary">{{submitType}}</button>
        </form>
       </div>

       <br>

        <div class="container">
        <div class="row">
            <div class="card-columns">

            <div class="card" *ngFor='let quote of quotes;let i = index'>
                <div class="card-body">
                    <i class="fa fa-quote-left"></i>
                    <p>{{quote.quote}}.</p>
                    <p>~{{quote.author}}</p>
                </div>          
            
                <div class="card-footer">
                    <app-quote-details [quote]='quote' ></app-quote-details>
                    <br>
                    <button (click) = "delete(i)">DELETE</button>
                </div>

                <div class="card-footer">
                    <div class="row">
                        <div class="col-action">
                            {{quote.upvotes}}
                        </div>
                        &nbsp;
                       <div class="col-3-action">
                         <button (click)="quote.upvotes = quote.upvotes +1" class="btn btn-success">Like</button>                        
                       </div> 
                       &ensp;
                       &ensp;
                       &ensp;
                       <div class="col-3-action">
                         <button (click)="quote.downvotes = quote.downvotes +1" class="btn btn-danger">Dislike</button>
                       </div>
                       &nbsp;
                       <div class="col-3-action">
                            {{quote.downvotes}}
                       </div>
                    </div>
                </div>
               </div>
        </div>
        </div>
        </div>
        
        
    </ul>
  </div>
